@use './main.scss' as *;

.about-container {
  position: relative;
  text-align: start;
  padding: $spacing-unit * 3;
  border: 2px solid rgba(255, 255, 255, 0.25); 
  border-radius: $border-radius-md; 
  box-shadow: $box-shadow-md;
  height: 90%;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about-header {
  margin-bottom: 0;
}

.about-title {
  font-size: $font-xxl;
  color: white;
  margin-bottom: $spacing-unit * 2;
  margin-top: $spacing-unit;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.about-divider {
  width: 90%;
  height: 2px;
  margin: $spacing-unit auto;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 2;
 
}

.about-item {
  display: flex;
  align-items: center;
  gap: $spacing-unit * 1.5;
  padding: $spacing-unit * 1.5;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius-md;
}

.about-emoji {
  font-size: $font-xl;
  min-width: 60px;
  text-align: center;
}

.about-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit * 2;
}

.about-list li {
    position: relative;
    border-left: 4px solid transparent;
    border-radius: 0 $border-radius-md $border-radius-md 0;
    transition: all 0.3s ease;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, $accent-color, rgba(192, 192, 192, 0.3));
        transition: width 0.6s ease;
        border-radius: 0 $border-radius-md $border-radius-md 0;
        z-index: -1;
    }
    
    &:hover {
        cursor: pointer;
        
        &::before {
            width: 100%;
        }
    }
}

.about-list p {
    margin: 0;
    font-size: $font-md;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: $spacing-unit * 1.5;
    position: relative;
    z-index: 1;
}

.about-icon {
    font-size: $font-lg;
    min-width: 50px;
    text-align: center;
    padding: $spacing-unit * 0.5;
    background: rgba($accent-color, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.about-list li:hover .about-icon {
    transform: rotate(15deg) scale(1.2);
    background: rgba($accent-color, 0.55);
}

.color {
  color: $accent-color; 
}

// Responsive design
@media (max-width: $breakpoint-md) {
  .about-title {
    font-size: $font-xl;
  }
  
  .about-text {
    font-size: $font-md;
  }
  
  .about-emoji {
    font-size: $font-lg;
    min-width: 50px;
  }
  
  .about-item {
    padding: $spacing-unit;
  }
}