@use './main.scss' as *;

.navbar {
  width: 100%;
  background-color: $secondary-color;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-unit 0;
  padding-bottom: 0;
  position: relative; // Added for positioning the indicator
}



.nav-item {
  display: flex;
  align-items: center;
  padding: $spacing-unit * 0.5 $spacing-unit;
  margin: 0 $spacing-unit;
  color: rgba(255, 255, 255, 0.7);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  
  &:hover {
    transform: scale(1.1); // Slight zoom effect on hover
    color: $accent-color; // Change color to accent color
  }
  
  &.active {
    color: white;
  }
}

.nav-indicator {
  position: absolute;
  bottom: -5px;
  height: 4px;
  background-color: $accent-color;
  transition: left 0.4s ease, width 0.4s ease, opacity 0.3s ease;
  border-radius: 2px;
}

.nav-icon {
    margin-right: 0.5rem;
  font-size: 1.5rem; // Slightly larger size for better visibility
  transition: transform 0.3s ease, color 0.3s ease;


}

@media (max-width: $breakpoint-md) {
  .navbar-container {
    justify-content: space-around;
  }
  
  .nav-item {
    margin: 0;
    flex-direction: column;
    font-size: $font-sm;
  }
  
  .nav-icon {
    margin-right: 0;
    margin-bottom: $spacing-unit * 0.25;
    font-size: 1.5em;
  }
}

@media (max-width: 850px) {
  .nav-label {
    font-size: $font-sm ;
  }

  .nav-icon {
    font-size: 1.1em;
  }

.navbar-container {
    padding: $spacing-unit * 0.2;
    margin-top: $spacing-unit * 0.35;
    margin-bottom: 0; 
    position: relative;

    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -$spacing-unit * 0.65; // Position the border lower
      height: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.15);
      width: 100%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  }
}